.home-container{
    background-color: rgb(172, 149, 149);
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;
  background-image: url('https://d3pc1xvrcw35tl.cloudfront.net/images/686x514/railways_202103577321.png');
  background-size: cover;
  background-repeat: no-repeat;
    height: 100vh;
}
.nav-container{
    height: 4rem;
    background-color: #ffffff;
    width: 100%;
    display: flex;
  
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 5px 0px;

}
.sub-container{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  

  align-items: center;
}
.login{
    background-color: rgb(27, 27, 130);
    height: 2rem;
    width: 6rem;
    color: white;
    border-width: 0;
}
.nav-sub-container{
    display: flex;
    gap: 1rem;
}