.login-container {
  background-image: url("https://media.istockphoto.com/id/1189029599/photo/passenger-train-india.jpg?s=612x612&w=0&k=20&c=gO7cJw0zhVhVrQ4DIG_Tr0llD52_dS-DKsWU43CWiXs=");
  height: 100vh;
  background-size: cover;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}
.Page-container {
  height: 440px;
  width: 400px;
  background-color: rgb(255, 253, 248);
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border-top-width: 10px;
}

.loginPage-title {
  color: rgb(158, 21, 137);
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
.input-card {
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  /* background-color: white; */
  position: relative;
}
input {
  width: 100%;
  height: 2rem;
  outline: none;
}
.icons {
  color: rgb(25, 24, 24);
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 3px;
  right: 0;
  transform: rotateX("50%");
  margin-right: 10px;
  margin-left: 4px;
}
.error-message {
  color: red;
  text-align: center;
}
.choose-master-student-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-btn {
  text-align: center;
  /* border-radius: 10px; */
  height: 2.5rem;
  background-color: green;
  color: white;
  border-width: 0;
}
.link {
  text-decoration: none;
}

.user {
  height: 2.3rem;
  width: 10rem;
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
.wellcome {
  color: rgb(207, 43, 43);
  font-style: italic;
  font-family: cursive;
}
.master-link {
  background-color: transparent;
  border-width: 0;
  color: white;
}

input[type="text"]{
  padding: 0;
}